<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALL_BALL.Properties.Settings.QlNhanSuConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=QlNhanSu;User ID=sa;Password=sa123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>