<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALL.Properties.Settings.QL_NhanSuConnectionString"
            connectionString="Data Source=DANG-TRUONG;Initial Catalog=QL_NhanSu;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="DALL.Properties.Settings.QlNhanSuConnectionString"
            connectionString="Data Source=DESKTOP-023KV5Q\SQLEXPRESS;Initial Catalog=QlNhanSu;User ID=sa;Password=sa123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>